#password-strength-row
{
	display: inline;
	float:left;
	size: 50%;
	clear: right;
	padding: 1em;
	padding-left: 2em;	
}

li.password-requirements-2
{
	padding-left: 1em;
	display: inline-block;
	list-style-position: inside;
	vertical-align: middle;
}

ul.password-requirements
{
	padding-left: 1em;
	display: inline-block;
	list-style-position: inside;
	vertical-align: middle;
	/*
	vertical-align: middle;
	text-align: center;
	list-style-position: inside;
	*/	
}

ul.password-requirements li
{
	/*margin-left: 2em; not necessary with style position set to inside on the ul */
	vertical-align: middle;
	/* line-height: 32px;
	margin: auto; */
	line-height: 32px;
	/* list-style-type: circle; */
}

ul.password-requirements li ul
{
	padding-left: 1em;
}

ul.password-requirements li.password-sub-list
{
	padding-top: 1em;
	list-style-type: circle;
}

ul.password-requirements li.fulfilled
{
	/*list-style-image: url('../images/Portal_Information_Success.gif'); */
	
	
	background-image: url('../images/Portal_Information_Success.gif');
	background-repeat: no-repeat;
	padding-left: 38px;
	
	font-color: green;
}

ul.password-requirements li.not-fulfilled 
{
	/* list-style-image: url('../images/Portal_Information_Error.gif');*/

	background-image: url('../images/Portal_Information_Error.gif');
	background-repeat: no-repeat;
	padding-left: 38px;	
	font-color: red;
}

li.not-evaluated-2
{
	list-style-type: square;
	padding-left: 38px;
	list-style-position: inside;
}

li.not-evaluated-3
{
	list-style-type: disc;
	padding-left: 38px;
	list-style-position: inside;
}
/*
ul.password-requirements li.fulfilled img
{
	width: 75%;
	height: 75%;
}

ul.password-requirements li.not-fulfilled img
{
	width: 75%;
	height: 75%;
}
*/